@font-face {
  font-family: "gilroyBold";
  src: url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "gilroyLight";
  src: url("../fonts/Gilroy-Light.woff") format("woff");
}

.display {
  display: none;
}
